<div class="card mt-4">
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="card-title"> Número de Alunos</h5>
                        <p class="card-text text-white font-weight-bold display-6">{{ dojo_metrics.total_karatecas }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-success">
                    <div class="card-body"> 
                        <h5 class="card-title"> Total de Receitas</h5>
                        <p class="card-text text-white font-weight-bold display-6"> R$ {{ revenue_metrics.total_revenue }} </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h5 class="card-title"> Total de Despesas</h5>
                        <p class="card-text text-white font-weight-bold display-6"> R$ {{ revenue_metrics.total_expense }} </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h5 class="card-title"> Lucro Total</h5>
                        <p class="card-text text-white font-weight-bold display-6">R$ {{ revenue_metrics.total_profit }} </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>