{% extends 'base.html'  %}

{% block title %}
SGK - Cadastro de Posturas
{% endblock %}

{% block content %}

<div class="row mb-3">

    <div class="col-md-6">
        <form method="get" action="{% url 'posture_list' %}">
            <div class="input-group">
                <input type="text" class="form-control" tradename="tradename" placeholder="Nome da Postura" value="{{ request.GET.tradename}}">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
    
    <div class="col-md-6">
        <a href="{% url 'posture_create' %}" class="btn btn-success float-end">
            <i class="bi bi-plus"></i>Nova Postura
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nome do postura</th>
                <th>Estilo</th>
                <th>Descrição</th>
                <th>Vídeo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for posture in postures %}
                <tr>
                    <td> {{ posture.id }} </td>
                    <td> {{ posture.name }} </td>
                    <td> {{ posture.style }} </td>
                    <td> {{ posture.description }} </td>
                    <td> {{ posture.file }} </td>
                    
                    <td> 
                        <a href="{% url 'posture_detail' posture.id %}" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i>
                        </a>                        
                     
                        <a href="{% url 'posture_update' posture.id %}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                        
                        <a href="{% url 'posture_delete' posture.id %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'components/_pagination.html' %}

{% endblock %}