{% extends 'base.html' %}
{% block title %}SGK - Detalhe da Matéria{% endblock %}
{% block content %}
<h4 class="mb-3">Matéria #{{ object.id }}</h4>
<table class="table table-bordered">
  <tr><th>Nome</th><td>{{ object.name }}</td></tr>
</table>
<div class="d-flex gap-2">
  <a href="{% url 'subject_list' %}" class="btn btn-secondary">Voltar</a>
  <a href="{% url 'subject_update' object.id %}" class="btn btn-warning">Editar</a>
  <a href="{% url 'subject_delete' object.id %}" class="btn btn-danger">Excluir</a>
</div>
{% endblock %}
