{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h4>Definir senha para {{ karateca.name }}</h4>
        <div class="card"></div>
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Senha</label>
                    {{ form.password }}
                </div>

                <div class="mb-3">
                    <label>Confirmar Senha</label>
                    {{ form.confirm_password }}
                </div>

                <button type="submit" class="btn btn-success">
                    Salvar
                </button>        
                <a href="{% url 'karateca_list' %}" class="btn btn-secondary">
                    Cancelar
                </a>
            </form>
        </div>
</div>
{% endblock %}